#
# using proxy command to OS login google cloud
# * Hostname not needed
# * User:OS Login username. run to find 'gcloud compute os-login describe-profile'
#

# personal google cloud vm
Host personal-vm-v1
    # external ip of VM
    HostName 34.56.153.207
    User lunyang
    # ssh key file 
    IdentityFile /Users/lunyanghuang/.ssh/gc-vm-personal 
    IdentitiesOnly=yes
    # skip checking hostkey is not known every time, hostkey is different for a different VM (a new hostkey if you delete and create a new VM with same external ip address)
    StrictHostKeyChecking no
    # separate location of host files
    UserKnownHostsFile=/Users/lunyanghuang/.ssh/gc-vm-personal_known_hosts

Host test-vm
    # external ip of VM
    HostName 34.10.8.95
    User lunyang
    # ssh key file 
    IdentityFile /Users/lunyanghuang/.ssh/gc-vm-personal 
    IdentitiesOnly=yes
    # skip checking hostkey is not known every time, hostkey is different for a different VM (a new hostkey if you delete and create a new VM with same external ip address)
    StrictHostKeyChecking no
    # separate location of host files
    UserKnownHostsFile=/Users/lunyanghuang/.ssh/gc-vm-personal_known_hosts

# testing system based on ubuntu
Host test-vm-ubuntu
    # external ip of VM
    HostName 34.132.64.64
    User lunyang
    # ssh key file 
    IdentityFile /Users/lunyanghuang/.ssh/gc-vm-personal 
    IdentitiesOnly=yes
    # skip checking hostkey is not known every time, hostkey is different for a different VM (a new hostkey if you delete and create a new VM with same external ip address)
    StrictHostKeyChecking no
    # separate location of host files
    UserKnownHostsFile=/Users/lunyanghuang/.ssh/gc-vm-personal_known_hosts



Host dev-vm-v1
    # User slowresearcher_gmail_com
    User slowres1937_gmail_com
    IdentityFile /Users/lunyanghuang/.ssh/google_compute_engine
    IdentitiesOnly=yes
    CheckHostIP=no    
    ProxyCommand gcloud compute ssh %h --project=sr-slow-research-main --zone=us-central1-c --tunnel-through-iap --ssh-flag="-W %h:%p"

# Google Compute Engine Section
#
# The following has been auto-generated by "gcloud compute config-ssh"
# to make accessing your Google Compute Engine virtual machines easier.
#
# To remove this blob, run:
#
#   gcloud compute config-ssh --remove
#
# You can also manually remove this blob by deleting everything from
# here until the comment that contains the string "End of Google Compute
# Engine Section".
#
# You should not hand-edit this section, unless you are deleting it.
#

# Host dev-vm-v1.us-central1-c.sr-slow-research-main
#     HostName 34.63.162.156
#     IdentityFile /Users/lunyanghuang/.ssh/google_compute_engine
#     UserKnownHostsFile=/Users/lunyanghuang/.ssh/google_compute_known_hosts
#     HostKeyAlias=compute.6283335602889797289
#     IdentitiesOnly=yes
#     CheckHostIP=no

# End of Google Compute Engine Section
